body{
    margin: 0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
background-color: #101010;
color: lightgray;
}
.contenedor-header{
 width: 100%;   
 height: 700px;
 background-image: linear-gradient(to right ,black , #101010, rgb(245, 199, 50));
}
#img-header{
    position:absolute;
    right: 0px;
    top:32px;
height: 700px;
width: auto;
}
#nombre{
    position: relative;
    font-size: 3.0rem;
display: flex;
font-weight: 400;
padding-top: 450px;
padding-left: 50px;
}

div.scroll > p{
    display:flex;
    justify-content: center;
    padding-top: 60px;
}

.animate-scroll{
    animation: parpadeo 1s infinite alternate;
}
@keyframes parpadeo{
    from{ opacity: 0.3;}
    to{ opacity: 1;}
}

.contenedores{
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.contenedores > button{
    margin-left: 45%;
}

.info{
    margin:30px 20px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0px 20px;
}
#indice{
    border: gray 1px solid;
    margin:20px;
    width: 150px;
    height: 270px;
    border-radius: 5px;
    justify-content: left;
}
#indice > ul> li{
    list-style: none;
    padding-bottom: 10px;
    padding-top:5px;
    margin-left: -10px;
 }
 #indice > ul> li > a{
    color: #58a6ff;
    text-decoration: none;
 }

 #indice > ul> li > a:hover{
    text-decoration: underline;
 }

 span{
     display: none;
 } 

.btn-vm{
    display: flex;
    border: none;
    margin: 10px;
    background-color: transparent;
    font-size: 1.0rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: snow;

}
.btn-vm:hover{
    cursor: pointer;
    font-weight: 800;
}

h3{
    padding-left: 35px;
    font-size: 1.8rem;
}

#p1 > h3, #p3 > h3, #p5 >h3{
    padding-left: 35px;
    font-size: 1.8rem;
    padding-right: 70%;
}
section{
    background-color: #191919;

}
#saga-persona{
    padding-bottom: 50px;
}

/* contenido persona*/
.panel{
    display: flex;
}

#p2 h3 , #p4 h3{
    background-color: yellow;
    color: white;
    text-shadow: 2px 0 0 #101, -2px 0 0 #101, 0 2px 0 #101, 0 -2px 0 #101, 1px 1px #101, -1px -1px 0 #101, 1px -1px 0 #101, -1px 1px 0 #101;
    padding-left: 70%;
    padding-right: 0%;
    padding-bottom:10px;
    font-size: 2.0rem;
}
/*Dimensiones de la caja*/
#p1 > .caja,#p2 > .caja, #p3 > .caja,#p4 > .caja,#p5 > .caja{
    display: flex;
    width: 100%;
    height: 350px;
    align-items: center;
    min-width: 850px;
}
.compact{
    display: flex;
    align-items: center;
    padding-left: 90px;
    margin-right:-100px;
    width: 100%;
}

#p1 >.caja > .contenido,#p2 >.caja >.compact >.contenido , #p3 >.caja > .contenido, #p4 >.caja >.compact >.contenido, #p5 >.caja > .contenido{
    width: 70%;
background-color: #1f1f1f;
border-radius: 15px;

}
#p1 >.caja > .ilustracion, #p2 >.caja > .ilustracion, #p3 >.caja > .ilustracion, #p4 >.caja > .ilustracion, #p5 >.caja > .ilustracion{
width: 29%;
}
.img-persona{
    width: 240px;
    height: 300px;
    position: relative;
}
.img-persona-izq{
    position:relative;
    left: 0px;
    bottom: 0px;
    opacity: 1;
    margin-right: -244.5px;
}
.img-persona-der{
    position:relative;
    bottom: 0px;
    opacity: 1;
    margin-right: -244.5px;

}

#p1-img:hover, #p3-img:hover, #p5-img:hover{
    animation: slash-right 4s;
    animation-delay: 0.1s;
    right: 1%;
}
#p2-img:hover, #p4-img:hover{
    animation: slash-left 4s;
    animation-delay: 0.1s;
    left: 1%;
}

@keyframes slash-right{
    
    0%{
        right: 1%;
    }
    50%{
        right: 9%;  
    }
    100%{
        right: 2%;
        }
    }
@keyframes slash-left{
    
    0%{
        left: 1%;
    }
    50%{
        left: 9%;  
    }
    100%{
        left: 2%;
        }
    
}

/* botones*/
.izq, .der{
    background-color: transparent;
    margin: 0px 8px;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: transparent;
    transition-duration: 0.4s;
}

.izq:hover, .der:hover{
    font-weight: 900;
    background-color: whitesmoke;
    color: #101010;
}

/*Lista de juegos y animes*/
.juegos , .anime {
    margin: 20px;

}
#juegos-lista >li , #anime-lista > li{
    padding-bottom: 10px;
}
#juegos-lista > li > i > a,#anime-lista > li > i > a{
    text-decoration: none;
    color: #58a6ff;

}
#juegos-lista > li > i > a:hover,#anime-lista > li > i > a:hover{
    text-decoration: underline;
}

#referencias{
padding: 5px 10px;
background-color: #1f1f1f;
text-align: center;
}
#referencias > a{
    text-decoration: none;
    color: #58a6ff;
    padding: 5px;
}
#referencias > a:hover{

    text-decoration: underline;
}

/*Mobile*/
@media screen and (max-width: 800px) {
    body{
        min-width: 650px;
    }
    #nombre{
        padding-top:520px ;
        padding-left: 20px;
        font-weight: 600;
        text-shadow: 2px 2px #101;
        color: whitesmoke;
        }
    #img-header{
        justify-content:center;
        width: 100%;
    }
    header, .contenedor-header, #img-header{
        margin-top: -40px;
        margin-bottom: 20px;
    }
    .scroll{
        margin-top: -80px;
        text-shadow: 1px 1px #101;
    }
    .info{
        font-size: 1.0rem;
    }
    .caja{
    min-width: 0px;
        margin-top: 310px;
        height: 700px;
        width: 100%;
    justify-content: center;

    }
    
/*lado derecho*/
#p1 > .caja, #p3 > .caja, #p5 > .caja {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    margin-top:200px;
    padding-bottom: 60px;
    min-width: 90px;

}
#p1 > h3{
    padding-bottom:80px ;
}
.ilustracion{
 margin-left: -50px;
 width: 100%;
}

  .img-persona{
    position: relative;
}
.img-persona-der{
    margin-bottom: -304px;
}
.img-persona-izq{
    margin-bottom: -304px;
}

/*lado izquierdo*/
#p2 > .caja, #p4 > .caja{
    display:flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 280px;
    padding-bottom: 40px;
    min-width: 90px;

}
.compact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    margin-right:auto;
}



}

/*Tablet*/

@media screen and (min-width: 801px) {
    #ajuste{
        margin:0px 0%;
    }
    .info{
        font-size: 1.1rem;
    }
}

/*Notebook*/
@media screen and (min-width: 1200px) {
    #ajuste{
        margin:0px 10%;
    }
}

/*Desktop*/
@media screen and (min-width: 1490px){
    #ajuste{
        margin:0px 20%;
    }
}